* {
    padding: 0;
    margin: 0;
}

.mainContainer{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.sideContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid black;
    border-radius: 50px;
    background-color: #d2c8bc;
}

.mainStack{
    flex-wrap: wrap;
}

.sideStack{
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
    height: 75vh;
}

.mainText{
    color: #261b17;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 4.5rem;
    font-family: "Raleway", Arial, sans-serif;
}

.sideText{
    font-size: 1.5rem;
    font-family: "Raleway", Arial, sans-serif;
    text-align: center;
    width: 60%;
}

@media (min-width: 430px) {
    .mainText{
        color: #261b17;
        text-align: center;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 6rem;
        font-family: "Raleway", Arial, sans-serif;
    }

    .mainText{
        color: #261b17;
        text-align: center;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 6rem;
        font-family: "Raleway", Arial, sans-serif;
    }
}