.doer_section{
    margin-top: 6%;
    margin-bottom: 6%;
}

.sectionName{
    margin-bottom: 3%;
    color: #261b17;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    font-family: "Raleway", Arial, sans-serif;
}

.descriptZone{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: clamp(380px, 70%, 800px);
    color: #261b17;
}

.nameZone{
    text-align: center;
    font-size: 3rem;
    font-family: 'Philosopher', sans-serif;
}

.shortDescript{
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Philosopher', sans-serif;
    width: 90%;
}

.btnDoer{
    height: 40px;
    width: 30%;
    font-size: 1.5rem;
    font-family: 'Philosopher', sans-serif;
    border-radius: 15px;
    background-color: #261b17;
    color: rgba(243, 225, 208, 1);
    cursor: pointer;
}

.photoDoer{
    height: 80%;
    width: 30%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ac7e62;
    box-shadow: 0px 0px 30px #ba9a88;
}

@media (max-width: 600px) {
    .photoDoer{
        height: 80%;
        width: 90%;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #ac7e62;
        box-shadow: 0px 0px 30px #ba9a88;
    }
}