.doer_section{
    height: 1000px;
    background: linear-gradient(rgba(243, 225, 208, 1), rgba(243, 225, 208, 0.7)), url('/src/images/1.jpg')  center/cover no-repeat;

}

.sectionName{
    position: relative;
    color: #0B237F;
    top: 30px;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 80px;
    align-self: center;
    font-family: 'Yeseva One', cursive;
}

.descriptDoer{
    position: relative;
    top: 150px;
    padding: 0px 30px 0px 30px;
    height: 800px;
}

.descriptZone{
    width: 1000px;
    float: right;
    right: 30px;
    position: relative;
    color: #2B3F77;
}

.nameZone{
    top: 30px;
    margin: 40px 0 70px 0;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Philosopher', sans-serif;
}

.shortDescript{
    position: relative;
    height: 320px;
    margin: 0 0 40px 0;
    white-space: normal;
    font-size: 33px;
    font-family: 'Philosopher', sans-serif;
}

.btnDoer{
    position: relative;
    height: 60px;
    width: 300px;
    font-size: 28px;
    font-family: 'Philosopher', sans-serif;
    border-radius: 15px;
    background-color: #2B3F77;
    color: rgba(243, 225, 208, 1);
    cursor: pointer;
    left: 33%;
}

.photoDoer{
    height: 650px;
    width: 520px;
    border-radius: 50%;
    margin: 13.5px;
    object-fit: cover;
}

.photoDoerEdging{
    float: left;
    position: relative;
    left: 120px;
    height: 680px;
    width: 545px;
    border: 3px solid rgb(218,161,27);
    box-shadow: 0px 0px 30px rgba(175,128,8, 0.9);
    border-radius: 50%;
    background-color: transparent;
}