.developer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}

.team-section-name{
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    font-family: 'Philosopher', sans-serif;
}

.git-link-text{
    font-size: 40px;
}

.social-icons{
    display: flex;
}

.dev-cards{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
