.developer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}

.team-h2{
    text-align: center;
    font-size: 80px;
}

.git-link-text{
    font-size: 40px;
}

.social-icons{
    display: flex;
}

.dev-cards{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
